In [1]:
import pandas as pd

In [3]:
df_classrooms = pd.read_csv("./datasets/original/CaracterizaçãoDasSalas.csv", sep=";", header=0)
print(len(df_classrooms))
df_classrooms.head(5)

131

,Edifício,Nome sala,Capacidade Normal,Capacidade Exame,Nº características,Anfiteatro aulas,Apoio técnico eventos,Arq 1,Arq 2,Arq 3,...,Laboratório de Telecomunicações,Sala Aulas Mestrado,Sala Aulas Mestrado Plus,Sala NEE,Sala Provas,Sala Reunião,Sala de Arquitectura,Sala de Aulas normal,videoconferencia,Átrio
0,Ala Autónoma (ISCTE-IUL),Auditório Afonso de Barros,80,39,4,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN
1,Ala Autónoma (ISCTE-IUL),Auditório Silva Leal,54,27,4,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN
2,Ala Autónoma (ISCTE-IUL),AA2.23,50,23,5,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,X,NaN,NaN,NaN,X,NaN,NaN
3,Ala Autónoma (ISCTE-IUL),AA2.24,30,16,4,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN
4,Ala Autónoma (ISCTE-IUL),AA2.25,38,21,4,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN

In [6]:
df_classes = pd.read_csv("./datasets/original/HorarioDeExemplo.csv", sep=";", header=0)
df_classes.drop(df_classes[df_classes["Características da sala pedida para a aula"] == "Não necessita de sala"].index, inplace=True)
df_classes.drop(df_classes[df_classes["Dia"].isna()].index, inplace=True)
df_classes.drop(df_classes[df_classes["Inscritos no turno"].isna()].index, inplace=True)
df_classes.drop(df_classes[df_classes["Inscritos no turno"] < 5].index, inplace=True)
df_classes.drop(df_classes[df_classes["Sala da aula"].isna()].index, inplace=True)
df_classes.drop(df_classes[df_classes["Sala da aula"] == "0S08"].index, inplace=True)
df_classes.loc[df_classes["Características da sala pedida para a aula"] == "Sala/anfiteatro aulas", "Características da sala pedida para a aula"] = "Sala de Aulas normal"
df_classes = df_classes[df_classes["Curso"].apply(lambda x: x.startswith(("L", "M")))]
df_classes.reset_index(drop=True, inplace=True)

print(len(df_classes))
df_classes.head(5)

20190

,Curso,Unidade de execução,Turno,Turma,Inscritos no turno,Dia da Semana,Início,Fim,Dia,Características da sala pedida para a aula,Sala da aula,Lotação,Características reais da sala
0,ME,Teoria dos Jogos e dos Contratos,01789TP01,MEA1,30,Sex,13:00:00,14:30:00,02/12/2022,Sala Aulas Mestrado,AA2.25,34.0,"Sala/anfiteatro aulas, Horário sala visível po..."
1,ME,Teoria dos Jogos e dos Contratos,01789TP01,MEA1,30,Qua,13:00:00,14:30:00,23/11/2022,Sala Aulas Mestrado,AA2.25,34.0,"Sala/anfiteatro aulas, Horário sala visível po..."
2,ME,Teoria dos Jogos e dos Contratos,01789TP01,MEA1,30,Qua,13:00:00,14:30:00,16/11/2022,Sala Aulas Mestrado,AA2.25,34.0,"Sala/anfiteatro aulas, Horário sala visível po..."
3,ME,Teoria dos Jogos e dos Contratos,01789TP01,MEA1,30,Qua,13:00:00,14:30:00,09/11/2022,Sala Aulas Mestrado,AA2.25,34.0,"Sala/anfiteatro aulas, Horário sala visível po..."
4,ME,Teoria dos Jogos e dos Contratos,01789TP01,MEA1,30,Qua,13:00:00,14:30:00,02/11/2022,Sala Aulas Mestrado,AA2.25,34.0,"Sala/anfiteatro aulas, Horário sala visível po..."

In [8]:
df_classes_small = df_classes[df_classes["Curso"].apply(lambda x: x.startswith(("M")))]
df_classes_small.reset_index(drop=True, inplace=True)

print(len(df_classes_small))
df_classes_small.head(5)

5746

,Curso,Unidade de execução,Turno,Turma,Inscritos no turno,Dia da Semana,Início,Fim,Dia,Características da sala pedida para a aula,Sala da aula,Lotação,Características reais da sala
0,ME,Teoria dos Jogos e dos Contratos,01789TP01,MEA1,30,Sex,13:00:00,14:30:00,02/12/2022,Sala Aulas Mestrado,AA2.25,34.0,"Sala/anfiteatro aulas, Horário sala visível po..."
1,ME,Teoria dos Jogos e dos Contratos,01789TP01,MEA1,30,Qua,13:00:00,14:30:00,23/11/2022,Sala Aulas Mestrado,AA2.25,34.0,"Sala/anfiteatro aulas, Horário sala visível po..."
2,ME,Teoria dos Jogos e dos Contratos,01789TP01,MEA1,30,Qua,13:00:00,14:30:00,16/11/2022,Sala Aulas Mestrado,AA2.25,34.0,"Sala/anfiteatro aulas, Horário sala visível po..."
3,ME,Teoria dos Jogos e dos Contratos,01789TP01,MEA1,30,Qua,13:00:00,14:30:00,09/11/2022,Sala Aulas Mestrado,AA2.25,34.0,"Sala/anfiteatro aulas, Horário sala visível po..."
4,ME,Teoria dos Jogos e dos Contratos,01789TP01,MEA1,30,Qua,13:00:00,14:30:00,02/11/2022,Sala Aulas Mestrado,AA2.25,34.0,"Sala/anfiteatro aulas, Horário sala visível po..."

In [30]:
used_classrooms = df_classes["Sala da aula"].unique()
df_classrooms = df_classrooms[df_classrooms["Nome sala"].isin(used_classrooms)]
df_classrooms.reset_index(drop=True, inplace=True)

print(len(df_classrooms))
df_classrooms.head(5)

97

,Edifício,Nome sala,Capacidade Normal,Capacidade Exame,Nº características,Anfiteatro aulas,Apoio técnico eventos,Arq 1,Arq 2,Arq 3,...,Laboratório de Telecomunicações,Sala Aulas Mestrado,Sala Aulas Mestrado Plus,Sala NEE,Sala Provas,Sala Reunião,Sala de Arquitectura,Sala de Aulas normal,videoconferencia,Átrio
0,Ala Autónoma (ISCTE-IUL),Auditório Afonso de Barros,80,39,4,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN
1,Ala Autónoma (ISCTE-IUL),Auditório Silva Leal,54,27,4,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN
2,Ala Autónoma (ISCTE-IUL),AA2.23,50,23,5,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,X,NaN,NaN,NaN,X,NaN,NaN
3,Ala Autónoma (ISCTE-IUL),AA2.24,30,16,4,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN
4,Ala Autónoma (ISCTE-IUL),AA2.25,38,21,4,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN

In [32]:
used_classrooms_small = df_classes_small["Sala da aula"].unique()
df_classrooms_small = df_classrooms[df_classrooms["Nome sala"].isin(used_classrooms_small)]
df_classrooms_small.reset_index(drop=True, inplace=True)

print(len(df_classrooms_small))
df_classrooms_small.head(5)

85

,Edifício,Nome sala,Capacidade Normal,Capacidade Exame,Nº características,Anfiteatro aulas,Apoio técnico eventos,Arq 1,Arq 2,Arq 3,...,Laboratório de Telecomunicações,Sala Aulas Mestrado,Sala Aulas Mestrado Plus,Sala NEE,Sala Provas,Sala Reunião,Sala de Arquitectura,Sala de Aulas normal,videoconferencia,Átrio
0,Ala Autónoma (ISCTE-IUL),Auditório Afonso de Barros,80,39,4,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN
1,Ala Autónoma (ISCTE-IUL),Auditório Silva Leal,54,27,4,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN
2,Ala Autónoma (ISCTE-IUL),AA2.23,50,23,5,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,X,NaN,NaN,NaN,X,NaN,NaN
3,Ala Autónoma (ISCTE-IUL),AA2.24,30,16,4,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN
4,Ala Autónoma (ISCTE-IUL),AA2.25,38,21,4,NaN,NaN,NaN,NaN,NaN,...,NaN,X,X,NaN,NaN,NaN,NaN,X,NaN,NaN

In [33]:
df_classes.to_csv("./datasets/clean/HorarioDeExemplo.csv", sep=";", header=True, index=False)
df_classrooms.to_csv("./datasets/clean/CaracterizaçãoDasSalas.csv", sep=";", header=True, index=False)

df_classes_small.to_csv("./datasets/clean/HorarioDeExemploSmall.csv", sep=";", header=True, index=False)
df_classrooms_small.to_csv("./datasets/clean/CaracterizaçãoDasSalasSmall.csv", sep=";", header=True, index=False)